.button{
    -fx-background-radius: 4;
    -fx-background-color: #2E4053;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Abel', FontWeight, 12;
    -fx-font-weight: bold;
}
.label{
    -fx-text-fill: #bdc3c7;
    -fx-font-family: 'Abel', FontWeight, 12;
    -fx-font-weight: bold;
}
.ScrollPane{
    -fx-background-color: #34495e;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    /*-fx-background-color: #e6e6e6; */
    -fx-background-color: #ffffff;
}
.tab-pane 
{
    -fx-tab-min-width:90px;
    -fx-background-radius: 4;
    -fx-focus-color: #FFFFFF;
    /*-fx-background-color: #e6e6e6; */
    -fx-background-color: #ffffff;
}

.tab-pane .tab:selected
{
    -fx-background-color: #2E4053;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}
